h2.err{
	color:#000;
}

p.ob {
	color: #000;
	border-bottom-style: dashed;
	border-top-style: dashed;
	border-left-style: solid;
	border-right-style: solid;
	color: #090d38;
	padding: 7px 5px;
	width: 80%;
}
