<%- include("../partials/header", { title, stylesheet }); %>

<h2>404 Not Found</h2>

<p>
	We were unable to find this path. <a href="/">Go back to the main page?</a>
</p>

<%- include("../partials/footer"); %>
