<%- include("../partials/header", { title, stylesheet }); %>

<h2 class="err">404 Not Found</h2>

<p class="ob">
	We were unable to find this path. <br />
	This can happen for a few reasons - going back in session history and missing
	parameters or the path is incorrect.
</p>
<a href="/">Go back to the main page?</a>

<%- include("../partials/footer"); %>
