<%- include('../partials/header', { title, stylesheet }); %>

<form action="/edit" method="POST" enctype="multipart/form-data">
	<input type="file" name="image" required /> <br />
	<textarea
		name="comments"
		placeholder="Write your comments here: "
		cols="199"
		rows="30"
		required
		spellcheck="true"
		style="resize: vertical"
		lang="en"
	></textarea>
	<br />
	<a href="/edit"><button>Submit</button></a>
</form>

<%- include('../partials/footer'); %>
