<%- include("../partials/header") %> <%- include("../partials/errorMessages") %>

<form id="form" action="/edit" method="POST" enctype="multipart/form-data">
	<div>
		<label for="image">Image:</label>
		<input type="file" name="image" id="image-input" required />
	</div>

	<button type="submit" id="submit-button">Submit</button>
</form>

<%- include('../partials/footer') %>
