<%- include('../partials/header', { title, stylesheet }); %>

<form action="/" method="POST" enctype="multipart/form-data">
	<input type="file" name="image" />
	<input type="submit" value="Submit" />
</form>

<%- include('../partials/footer'); %>
