<%- include('../partials/header', { title, stylesheet }); %>

<form id="form" action="/edit" method="POST" enctype="multipart/form-data">
	<input type="file" name="image" required /> <br />
	<button type="submit">Submit</button>
</form>

<script src="./js/index.js"></script>

<%- include('../partials/footer'); %>
