<%- include("../partials/header") %> <%- include("../partials/errorMessages") %>

<h2>Welcome to PhoCo!</h2>
<p class="border">
	PhoCo is a website where you can comment on certain parts of images. <br />
	Firstly you upload an image. Then you write a comment and select a part of the
	image the comment is about. <br />
	Repeat this process as many times as you want. <br />
	You can have up to 100 comments per image. <br />
</p>

<strong>Note: The supported image formats are: jpg, jpeg, png, jfif</strong>

<h3>
	Please do not refresh the website while editing your image. Your progress will
	be lost.
</h3>

<form id="form" action="/edit" method="POST" enctype="multipart/form-data">
	<div class="flex-contanier1">
		<input type="file" name="file" id="file" class="inputfile" />
		<label for="file">Chose a file</label>
	</div>

	<button type="submit" id="submit-button" class="submitt flex-contanier2" >Start editing</button>
</form>

<%- include('../partials/footer') %>
